{%- if not solve.continuous.algebraic_assignment_complete -%}
{{ fail("unsupported-feature:coupled-or-non-isolable-algebraic-projection") }}
{%- endif -%}
{%- macro scalar_const(op) -%}
{%- if op.value_class == "finite" -%}Float("{{ op.value }}")
{%- elif op.value_class == "positive_infinity" -%}inf
{%- elif op.value_class == "negative_infinity" -%}(-inf)
{%- else -%}nan
{%- endif -%}
{%- endmacro %}
{%- macro unary(operator, arg) -%}
{%- if operator == "Neg" -%}(-__r{{ arg }})
{%- elif operator == "Not" -%}_bool_value(Not(_condition(__r{{ arg }})))
{%- elif operator == "Abs" -%}fabs(__r{{ arg }})
{%- elif operator == "Sign" -%}sign(__r{{ arg }})
{%- elif operator in ["Sqrt", "Floor", "Ceil", "Trunc", "Sin", "Cos", "Tan", "Asin", "Acos", "Atan", "Sinh", "Cosh", "Tanh", "Exp", "Log", "Log10"] -%}{{ operator | lower }}(__r{{ arg }})
{%- else -%}{{ fail("unsupported-feature:scalar.unary." ~ operator) }}
{%- endif -%}
{%- endmacro %}
{%- macro binary(operator, lhs, rhs) -%}
{%- if operator == "Add" -%}(__r{{ lhs }} + __r{{ rhs }})
{%- elif operator == "Sub" -%}(__r{{ lhs }} - __r{{ rhs }})
{%- elif operator == "Mul" -%}(__r{{ lhs }} * __r{{ rhs }})
{%- elif operator == "Div" -%}(__r{{ lhs }} / __r{{ rhs }})
{%- elif operator == "Pow" -%}(__r{{ lhs }} ** __r{{ rhs }})
{%- elif operator == "And" -%}_bool_value(And(_condition(__r{{ lhs }}), _condition(__r{{ rhs }})))
{%- elif operator == "Or" -%}_bool_value(Or(_condition(__r{{ lhs }}), _condition(__r{{ rhs }})))
{%- elif operator == "Atan2" -%}atan2(__r{{ lhs }}, __r{{ rhs }})
{%- elif operator == "Min" -%}fmin(__r{{ lhs }}, __r{{ rhs }})
{%- elif operator == "Max" -%}fmax(__r{{ lhs }}, __r{{ rhs }})
{%- else -%}{{ fail("unsupported-feature:scalar.binary." ~ operator) }}
{%- endif -%}
{%- endmacro %}
{%- macro compare(operator, lhs, rhs) -%}
{%- if operator == "Lt" -%}_bool_value(__r{{ lhs }} < __r{{ rhs }})
{%- elif operator == "Le" -%}_bool_value(__r{{ lhs }} <= __r{{ rhs }})
{%- elif operator == "Gt" -%}_bool_value(__r{{ lhs }} > __r{{ rhs }})
{%- elif operator == "Ge" -%}_bool_value(__r{{ lhs }} >= __r{{ rhs }})
{%- elif operator == "Eq" -%}_bool_value(Eq(__r{{ lhs }}, __r{{ rhs }}))
{%- elif operator == "Ne" -%}_bool_value(Ne(__r{{ lhs }}, __r{{ rhs }}))
{%- else -%}{{ fail("unsupported-feature:scalar.compare." ~ operator) }}
{%- endif -%}
{%- endmacro %}
{%- macro scalar_op(op, output="out") %}
{%- if op.kind == "Const" %}
	__r{{ op.dst }} = {{ scalar_const(op) }}
{%- elif op.kind == "LoadTime" %}
	__r{{ op.dst }} = TIME_SYMBOL
{%- elif op.kind == "LoadY" %}
	__r{{ op.dst }} = _y[{{ op.index }}]
{%- elif op.kind == "LoadP" %}
	__r{{ op.dst }} = _compiled_parameters[{{ op.index }}]
{%- elif op.kind == "Move" %}
	__r{{ op.dst }} = __r{{ op.src }}
{%- elif op.kind == "LinearSolveComponent" %}
	__r{{ op.dst }} = _linsolve_component(
		[{% for index in range(op.matrix_start, op.matrix_start + op.n * op.n) %}__r{{ index }}{{ ", " if not loop.last else "" }}{% endfor %}],
		[{% for index in range(op.rhs_start, op.rhs_start + op.n) %}__r{{ index }}{{ ", " if not loop.last else "" }}{% endfor %}],
		{{ op.n }}, {{ op.component }})
{%- elif op.kind == "Unary" %}
	__r{{ op.dst }} = {{ unary(op.operator, op.arg) }}
{%- elif op.kind == "Binary" %}
	__r{{ op.dst }} = {{ binary(op.operator, op.lhs, op.rhs) }}
{%- elif op.kind == "Compare" %}
	__r{{ op.dst }} = {{ compare(op.operator, op.lhs, op.rhs) }}
{%- elif op.kind == "Select" %}
	__r{{ op.dst }} = if_else(__r{{ op.cond }}, __r{{ op.if_true }}, __r{{ op.if_false }})
{%- elif op.kind == "StoreOutput" %}
	{{ output }}[{{ op.output_index }}] = __r{{ op.src }}
{%- elif op.kind == "StoreOutputRange" %}
{%- for output_index in op.output_indices %}
	{{ output }}[{{ output_index }}] = __r{{ op.start + loop.index0 * op.stride }}
{%- endfor %}
{%- else %}
{{ fail("unsupported-feature:scalar.op." ~ op.kind) }}
{%- endif %}
{%- endmacro %}
"""Generated by Rumoca from its checked Solve IR; do not edit."""

import sympy as sp
from sympy.logic.boolalg import Boolean

Float = sp.Float
Eq = sp.Eq
Ne = sp.Ne
Not = sp.Not
And = sp.And
Or = sp.Or
sin = sp.sin
cos = sp.cos
tan = sp.tan
asin = sp.asin
acos = sp.acos
atan = sp.atan
sinh = sp.sinh
cosh = sp.cosh
tanh = sp.tanh
exp = sp.exp
log = sp.log
log10 = lambda value: sp.log(value, 10)
sqrt = sp.sqrt
fabs = sp.Abs
sign = sp.sign
floor = sp.floor
ceil = sp.ceiling
trunc = lambda value: sp.Piecewise((sp.ceiling(value), value < 0), (sp.floor(value), True))
atan2 = sp.atan2
fmin = sp.Min
fmax = sp.Max
inf = sp.oo
nan = sp.nan


def _condition(value):
	return value if isinstance(value, Boolean) else Ne(value, 0)


def _bool_value(condition):
	return sp.Piecewise((sp.S.One, condition), (sp.S.Zero, True))


def if_else(condition, if_true, if_false):
	return sp.Piecewise((if_true, _condition(condition)), (if_false, True))


def _linsolve_component(matrix, rhs, n, component):
	return sp.Matrix(n, n, matrix).LUsolve(sp.Matrix(rhs))[component]


N_STATES = {{ solve.solve_layout.state_scalar_count }}
N_ALGEBRAICS = {{ solve.solve_layout.algebraic_scalar_count }}
N_OUTPUTS = {{ solve.solve_layout.output_scalar_count }}
N_INPUTS = {{ solve.solve_layout.input_scalar_names | length }}
N_PARAMETERS = {{ solve.solve_layout.parameter_count }}
N_COMPILED_PARAMETERS = {{ solve.solve_layout.compiled_parameter_len }}
_PAD = N_COMPILED_PARAMETERS - N_PARAMETERS - N_INPUTS

Y_NAMES = {{ solve.solve_layout.solver_maps.names | tojson }}
STATE_NAMES = {{ solve.state_names | tojson }}
ALGEBRAIC_NAMES = Y_NAMES[N_STATES:N_STATES + N_ALGEBRAICS]
OUTPUT_NAMES = Y_NAMES[N_STATES + N_ALGEBRAICS:N_STATES + N_ALGEBRAICS + N_OUTPUTS]
INPUT_NAMES = {{ solve.solve_layout.input_scalar_names | tojson }}
PARAMETER_NAMES = {{ solve.static_parameter_names | tojson }}
DEFAULT_STATES = [{% for value in solve.initial_state_values %}{{ value }}{{ ", " if not loop.last else "" }}{% endfor %}]
DEFAULT_PARAMETERS = [{% for value in solve.static_parameter_values %}{{ value }}{{ ", " if not loop.last else "" }}{% endfor %}]
ALGEBRAIC_ASSIGNMENTS_COMPLETE = {{ "True" if solve.continuous.algebraic_assignment_complete else "False" }}

TIME_SYMBOL = sp.Symbol("t", real=True)
STATE_SYMBOLS = tuple(sp.Symbol(name, real=True) for name in STATE_NAMES)
INPUT_SYMBOLS = tuple(sp.Symbol(name, real=True) for name in INPUT_NAMES)
PARAMETER_SYMBOLS = tuple(sp.Symbol(name, real=True) for name in PARAMETER_NAMES)

_compiled_parameters = list(PARAMETER_SYMBOLS) + list(INPUT_SYMBOLS) + [sp.S.Zero] * _PAD


def _build_variable_expressions():
	_y = list(STATE_SYMBOLS) + [sp.Symbol(name, real=True) for name in Y_NAMES[N_STATES:]]
{%- for program in solve.continuous.algebraic_assignment_plan.programs %}
{%- for op in program.ops %}
{{ scalar_op(op, "_y") }}
{%- endfor %}
{%- endfor %}
	return _y


_y = _build_variable_expressions()
VARIABLE_EXPRESSIONS = dict(zip(Y_NAMES, _y))


def _build_rhs():
	_rhs = [None] * {{ solve_blocks.continuous.derivative_rhs.output_count }}
{%- for program in solve_blocks.continuous.derivative_rhs.scalar_plan.programs %}
{%- for op in program.ops %}
{{ scalar_op(op, "_rhs") }}
{%- endfor %}
{%- endfor %}
	return sp.ImmutableDenseMatrix(_rhs)


RHS = _build_rhs()
